@using Task2.Scripts;
@model Task2.Models.ExcelPresentationModel

<h2>Tap on file name to preview data from db</h2>

<script>
function f(fileName)
{
    var convertedFile = JSON.stringify({name:fileName});
        console.log(convertedFile);
        var fff = {};
        fff.name = String(fileName);
        console.log(fff);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExcelPresentation", "ExcelPresentation")',
            contentType: "application/json; charset=utf-8",
            //data: { "name": 'fileName' }, //json,
            //data: { "name": 'fileName' },
            data: JSON.stringify(fff),
            dataType: "json",
            success: function (response) 
            {
                console.log("123");
                alert(response);
            },
            error: function(jqXHR, text, error)
            {
                //console.log(jqXHR.responseText);
                $("html").html(jqXHR.responseText);
            }
        });
}
</script>
<script src="_framework/blazor.webassembly.js"></script>

<div>
        @{
            var files = Model.Files;
        }
        @if (files != null)
        @foreach (var item in files)
        {
            <div class="button-item">

               <asp:Button id="Button1"
               Cssclass = "textButton"
               class="textButton"
               OnClick="f('@item')"
               runat="server">
               @item
               </asp:Button>

            </div>
        }
    
</div>
<div class="table-header">
    <table align="center" width="100%">
        <tr>
            <th colspan="3">Входящее сальдо</th>
            <th colspan="2">Обороты</th>
            <th colspan="2">Исходящее сальдо</th>
        </tr>
        <tr>
            <th>Б/сч</th>
            <th>Актив</th>
            <th>Пассив</th>
            <th>Дебет</th>
            <th>Кредит</th>
            <th>Актив</th>
            <th>Пассив</th>
        </tr>
        </table>
    @{
        var excelFile = ViewBag.ExcelFile as ExcelFile;
        if (excelFile == null) 
        {
            return;
        }
    }
    <table align="center" width="100%">
    @foreach (var rowClass in excelFile.GetClasses())
    {
        <tr><td colspan="7"><b>КЛАСС @rowClass.Class @rowClass.PreviewText</b></td></tr>
        @foreach (var row in rowClass.Rows)
        {
            <tr>
            <td>@row.number</td>    
            <td>@row.activeIncome</td>
            <td>@row.passiveIncome</td>
            <td>@row.debet</td>
            <td>@row.credit</td>
            <td>@row.activeOutcome</td>
            <td>@row.passiveOutcome</td>
            </tr>
        }
        <tr>
            <td><b>ПО КЛАССУ</b></td>
            <td><b>@rowClass.GetActiveIncomeSum()</b></td>
            <td><b>@rowClass.GetPassiveIncomeSum()</b></td>
            <td><b>@rowClass.GetDebetSum()</b></td>
            <td><b>@rowClass.GetCreditSum()</b></td>
            <td><b>@rowClass.GetActiveOutcomeSum()</b></td>
            <td><b>@rowClass.GetPassiveOutcomeSum()</b></td>
        </tr>
    }
            <tr>
            <td><b>БАЛАНС</b></td>
            <td><b>@excelFile.GetActiveIncomeSum()</b></td>
            <td><b>@excelFile.GetPassiveIncomeSum()</b></td>
            <td><b>@excelFile.GetDebetSum()</b></td>
            <td><b>@excelFile.GetCreditSum()</b></td>
            <td><b>@excelFile.GetActiveOutcomeSum()</b></td>
            <td><b>@excelFile.GetPassiveOutcomeSum()</b></td>
            </tr>

    </table>
</div>
